$baseGreen:#8CBF3F;
$basePurple:#9453A6;
$baseYellow:#F2CC0F;
$baseGray:#F2F2F2;
$baseBlack:#0D0D0D;
$baseSize:15px;
$baseWidth:30%;

//Fonts for Headlines
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
/* font-family: 'Pattaya', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap');
/* font-family: 'Henny Penny', cursive; */

//Font for Text
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */

#quiz {
    max-width: 1200px;
    margin-left: 25%;
    background-color: $baseGray;
    align-items: center;
    display: inline-block;
    appearance: auto;
    padding: 20px;
    border-radius: 8px;
}

.question {
    color: $baseBlack;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.answers {
    margin-bottom: 30px;
    margin-right: 30px;
    color: $baseBlack;
    padding-left: 10px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;

}

#submit {
    border: 0;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 46%;
    color: $baseGray;
    background-color: $basePurple;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#submit:hover {
    color: $basePurple;
    background-color: $baseGray;
}

#results {
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    color: $baseGray;
    background-color: $baseGreen;
    max-width: 270px;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
}

@media only screen and (max-width:600px) {
    #quiz {
        max-width: 500px;
        margin-left: 0;
    }

    #submit {
        margin-left: 37%;
    }
}