@import "Nav";
@import "Foot";
@import "Head";
@import "Slideshow";
@import "Sponsors";
@import "FAQ";
@import "About";
@import "Photos";
@import "Cont";
@import "Triv";
@import "InfoI";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./Gallery/bg.jpg');
    background-size: cover;
}