@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
/* font-family: 'Pattaya', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
/* font-family: 'Henny Penny', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: rgba(13, 13, 13, 0.7);
  font-family: 'Pattaya', sans-serif;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links a {
  color: #F2F2F2;
  text-decoration: none;
  padding: 15px 10px;
  letter-spacing: 2px;
  font-size: 15px;
  border-radius: 10px;
}

nav .nav-links a:hover {
  color: #8CBF3F;
  background-color: #F2F2F2;
}

nav .burger div {
  width: 25px;
  height: 2px;
  background-color: #F2F2F2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  nav-links {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0;
    height: 80vh;
    top: 14vh;
    background-color: rgba(13, 13, 13, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
footer {
  font-family: 'roboto', sans-serif;
  text-align: center;
  background-color: rgba(13, 13, 13, 0.7);
  color: #F2F2F2 !important;
}

footer #topBtn {
  /* display: none; */
  font-family: 'henny penny', cursive;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 2px solid #F2CC0F;
  outline: none;
  background-color: #F2CC0F;
  color: #0D0D0D;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}

footer #topBtn:hover {
  background-color: #0D0D0D;
  color: #F2CC0F;
}

footer .footP {
  color: #F2F2F2 !important;
}

footer .websitez {
  margin-left: 2%;
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
.head {
  text-align: center;
  background-color: rgba(148, 83, 166, 0.3);
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.Slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.inp img {
  display: none;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #0D0D0D;
}

.text {
  color: #F2CC0F;
  font-size: 100px;
  padding: 8px 12px;
  position: absolute;
  bottom: 500px;
  width: 100%;
  text-align: center;
  font-family: 'pattaya', sans-serif;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #F2CC0F;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #0D0D0D;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .Slideshow,
  .dot {
    display: none;
  }
  .inp img {
    display: block !important;
  }
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
.sponsorContainer {
  padding: 75px 0;
  margin: 0 auto;
  width: 1540px;
}

.sponsorHead {
  text-align: center;
  margin-bottom: 45px;
  font-family: 'henny penny', cursive;
  color: #F2F2F2;
  background-color: rgba(242, 204, 15, 0.7);
  border-radius: 8px;
  max-width: 500px;
  margin-left: 35%;
}

.sponsorWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  -webkit-transition: -webkit-box-flex 0.8s ease;
  transition: -webkit-box-flex 0.8s ease;
  transition: flex 0.8s ease;
  transition: flex 0.8s ease, -webkit-box-flex 0.8s ease, -ms-flex 0.8s ease;
}

.item:hover {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.item:hover .caption {
  display: block;
}

.caption {
  display: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  margin-top: 60.75%;
  border: 2px solid #F2CC0F;
  background-color: rgba(148, 83, 166, 0.5);
  font-family: 'roboto', sans-serif;
}

.item-1 {
  background-image: url("/Gallery/s1.jpg");
}

.item-2 {
  background-image: url("/Gallery/s2.jpg");
}

.item-3 {
  background-image: url("/Gallery/s3.jpeg");
}

.item-4 {
  background-image: url("/Gallery/s4.jpg");
}

.item-5 {
  background-image: url("/Gallery/s5.jpg");
}

.item-6 {
  background-image: url("/Gallery/s6.jpg");
}

.item-7 {
  background-image: url("/Gallery/s7.jpg");
}

.item-8 {
  background-image: url("/Gallery/s8.jpg");
}

@media only screen and (max-width: 600px) {
  .sponsorContainer {
    width: 100%;
  }
  .sponsorHead {
    margin-left: 30px;
    max-width: 400px;
  }
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
.questions {
  background-color: rgba(242, 204, 15, 0.9);
  max-width: 80%;
  margin: 0 auto;
  border-radius: 8px;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
  font-family: 'pattaya', sans-serif;
  color: #9453A6;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
  font-family: 'pattaya', sans-serif;
  color: #F2F2F2;
  text-align: center;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
  padding: 3%;
}

.tab {
  width: 100%;
  color: #F2F2F2;
  overflow: hidden;
  font-family: 'roboto', sans-serif;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #9453A6;
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background: #764284;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #9453A6;
  background: #F2F2F2;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-weight: bold;
}

input:checked + .tab-label {
  background: #764284;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
.leftColumn {
  float: left;
  width: 70%;
  margin-left: 5%;
}

.rightColumn {
  float: left;
  width: 20%;
  padding-left: 20px;
}

.imagez {
  background-color: #8CBF3F;
  width: 50%;
  padding: 10px;
  margin: 10px;
  margin-left: 25%;
  border-radius: 8px;
}

.card {
  background-color: rgba(242, 204, 15, 0.8);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-family: 'roboto', sans-serif;
  font-weight: bold;
}

h3 {
  text-align: center;
  color: #F2F2F2;
  font-family: 'pattaya', sans-serif;
  font-weight: normal;
}

.websitez {
  margin-left: 15%;
}

@media screen and (max-width: 600px) {
  .leftColumn,
  .rightColumn {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .imagez {
    width: 80%;
    margin-left: 10%;
  }
  .websitez {
    margin-left: 15%;
  }
  .mySite {
    margin-left: 35% !important;
  }
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[4];
      grid-template-columns: repeat(4, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 10px;
  height: 120vh;
}

.grid img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border: 2px solid #8CBF3F;
}

h1 {
  color: #F2F2F2;
  font-weight: normal;
  background-color: rgba(242, 204, 15, 0.7);
  border-radius: 8px;
}

#lightbox {
  position: fixed;
  z-index: 130;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.8);
  display: none;
}

#lightbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: #F2CC0F;
  border: 2px solid #8CBF3F;
  margin-top: 40px;
}

iframe {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .grid {
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 10px;
    height: 240vh;
  }
  #lightbox img {
    max-width: 60%;
    max-height: 50%;
  }
  iframe {
    border-radius: 5px;
    width: 30%;
    margin-left: 2%;
  }
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
.cform {
  max-width: 420px;
  margin: 50px auto;
}

.cform h2 {
  background-color: rgba(242, 204, 15, 0.8);
  border-radius: 8px;
}

.feedback-input {
  color: #0D0D0D;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  line-height: 22px;
  /* background-color: transparent; */
  border: 2px solid #9453A6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #8CBF3F;
}

.cform textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.cform [type="submit"] {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 100%;
  background-color: #9453A6;
  color: #F2F2F2;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
}

.cform [type="submit"]:hover {
  background-color: #F2F2F2;
  color: #9453A6;
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
#quiz {
  max-width: 1200px;
  margin-left: 25%;
  background-color: #F2F2F2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  padding: 20px;
  border-radius: 8px;
}

.question {
  color: #0D0D0D;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.answers {
  margin-bottom: 30px;
  margin-right: 30px;
  color: #0D0D0D;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#submit {
  border: 0;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 46%;
  color: #F2F2F2;
  background-color: #9453A6;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#submit:hover {
  color: #9453A6;
  background-color: #F2F2F2;
}

#results {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #F2F2F2;
  background-color: #8CBF3F;
  max-width: 270px;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  #quiz {
    max-width: 500px;
    margin-left: 0;
  }
  #submit {
    margin-left: 37%;
  }
}

/* font-family: 'Pattaya', sans-serif; */
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Roboto', sans-serif; */
.info-sec {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(242, 204, 15, 0.8);
  padding: 20px;
  border-radius: 8px;
}

.info-sec h1 {
  font-family: 'henny penny', cursive;
  font-size: 30px;
}

.info-sec h2 {
  font-family: 'henny penny', cursive;
  font-size: 28px;
}

.info-sec p {
  font-family: 'Roboto', sans-serif;
  color: #0D0D0D;
  font-size: 25px;
}

.info-sec img {
  margin-left: 220px;
  background-color: #8CBF3F;
  width: 50%;
  padding: 10px;
  margin: 10px;
  margin-left: 25%;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .info-sec img {
    width: 80%;
    margin-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("/Gallery/bg.jpg");
  background-size: cover;
}
/*# sourceMappingURL=Main.css.map */