$baseGreen:#8CBF3F;
$basePurple:#9453A6;
$baseYellow:#F2CC0F;
$baseGray:#F2F2F2;
$baseBlack:#0D0D0D;
$baseSize:15px;
$baseWidth:30%;

//Fonts for Headlines
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
/* font-family: 'Pattaya', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap');
/* font-family: 'Henny Penny', cursive; */

//Font for Text
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */

.leftColumn {
    float: left;
    width: 70%;
    margin-left: 5%;

}

.rightColumn {
    float: left;
    width: 20%;
    padding-left: 20px;
}

.imagez {
    background-color: $baseGreen;
    width: 50%;
    padding: 10px;
    margin: 10px;
    margin-left: 25%;
    border-radius: 8px;
}

.card {
    background-color: rgba($color: #F2CC0F, $alpha: 0.8);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

h3 {
    text-align: center;
    color: $baseGray;
    font-family: 'pattaya', sans-serif;
    font-weight: normal;
}

.websitez {
    margin-left: 15%;
}

@media screen and (max-width:600px) {

    .leftColumn,
    .rightColumn {
        width: 100%;
        padding: 0;
        margin-left: 0;
    }

    .imagez {
        width: 80%;
        margin-left: 10%;
    }

    .websitez {
        margin-left: 15%;
    }

    .mySite {
        margin-left: 35% !important;
    }
}