$baseGreen:#8CBF3F;
$basePurple:#9453A6;
$baseYellow:#F2CC0F;
$baseGray:#F2F2F2;
$baseBlack:#0D0D0D;
$baseSize:15px;
$baseWidth:30%;

//Fonts for Headlines
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
/* font-family: 'Pattaya', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap');
/* font-family: 'Henny Penny', cursive; */

//Font for Text
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */


.questions {
    background-color: rgba($color: #F2CC0F, $alpha: 0.9);
    max-width: 80%;
    margin: 0 auto;
    border-radius: 8px;
}


h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
    font-family: 'pattaya',
        sans-serif;
    color: $basePurple;
}

h2 {
    margin: 0 0 .5em;
    font-weight: normal;
    font-family: 'pattaya',
        sans-serif;
    color: $baseGray;
    text-align: center;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    padding: 3%;
}

.tab {
    width: 100%;
    color: $baseGray;
    overflow: hidden;
    font-family: 'roboto',
        sans-serif;



    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $basePurple;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: darken($basePurple, 10%);
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $basePurple;
        background: $baseGray;
        transition: all .35s;
        font-weight: bold;
    }
}

input:checked {
    +.tab-label {
        background: darken($color: #9453A6, $amount: 10%);

        &::after {
            transform: rotate(90deg);
        }
    }

    ~.tab-content {
        max-height: 100vh;
        padding: 1em;
    }
}