$baseGreen:#8CBF3F;
$basePurple:#9453A6;
$baseYellow:#F2CC0F;
$baseGray:#F2F2F2;
$baseBlack:#0D0D0D;
$baseSize:15px;
$baseWidth:30%;

//Fonts for Headlines
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
/* font-family: 'Pattaya', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap');
/* font-family: 'Henny Penny', cursive; */

//Font for Text
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */

.head {
    text-align: center;
    background-color: rgba($color: #9453A6, $alpha: 0.3);
}